input[type=submit],
button {
  background-color: $silver;
  border: 0;
  border-radius: $br;
  color: $black;
  cursor: pointer;
  display: inline-block;
  margin-bottom: $sm-pad;
  padding: $sm-pad $md-pad;
  text-align: center;
  text-decoration: none;
  -webkit-user-drag: none;
  user-select: none;
  vertical-align: middle;
}

input[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
}

input[type=submit]:hover,
button:hover {
  background: darken($silver, 3);
}

input[type=submit]:focus,
button:focus {
  outline: 0;
}

input[type=submit]:active,
button:active {
  background: darken($silver, 8);
  box-shadow: 0 0 .8rem $trans-light inset;
}

input[type=submit]:disabled,
button:disabled {
  box-shadow: none;
  cursor: not-allowed;
  opacity: .40;
}
