main,
header,
footer,
nav,
article,
section,
aside,
details,
summary {
  clear: both;
  display: block;
  height: auto;
  margin: 0 auto;
  width: 100%;
}

main {
  max-width: 102.4rem;
  padding: 0 1.6rem 1.6rem;
}

article {
  clear: left;
  display: inline-block;
  float: left;
  margin-bottom: 1.6rem;
  max-width: calc(60% - .5rem);
}

aside {
  clear: right;
  display: inline-block;
  float: right;
  margin-bottom: 1.6rem;
  max-width: calc(40% - .5rem);
}

footer {
  background: $primary-color;
  bottom: 0;
  height: 4rem;
  left: 0;
  position: absolute;
  width: 100%;

  p {
    line-height: 4rem;
    margin: 0;
    text-align: center;
  }
}

pre {
  background: $light-grey;
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: $br;

  code {
    background: transparent;
    border: 0;
    color: $black;
  }
}

@media screen and (max-width: $small-break) {
  article,
  section,
  aside {
    clear: both;
    display: block;
    max-width: 100%;
  }
}
