main,
header,
footer,
nav,
article,
section,
aside,
details,
summary {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 100%;
}

main {
  display: inline-block;
  margin: 0 auto;
  max-width: 76.8rem;
  overflow: hidden;
  padding: 0 1.6rem 1.6rem;
}

article {
  clear: left;
  display: inline-block;
  float: left;
  margin-bottom: 1.6rem;
  max-width: calc(60% - 1rem);
}

aside {
  clear: right;
  display: inline-block;
  float: right;
  margin-bottom: 1.6rem;
  max-width: calc(40% - 1rem);
}

section {
  clear: both;
  display: inline-block;
  float: left;
  margin-bottom: 1.6rem;
  max-width: 100%;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, .12);
  bottom: 0;
  height: 4rem;
  left: 0;
  line-height: 4rem;
  position: absolute;
  width: 100%;

  p {
    margin: 0;
    text-align: center;
  }
}

hr {
  border-top: 4px solid rgba(0, 0, 0, .12);
  display: block;
  margin-bottom: 1.6rem;
  width: 100%;

}

img {
  height: auto;
  max-width: 100%;
  vertical-align: baseline;
}

@media screen and (max-width: $small-break) {
  article,
  section,
  aside {
    clear: both;
    display: block;
    max-width: 100%;
  }
}
