nav {
  ul,
  ol {
    background: $white;
    display: inline-block;
    height: auto;
    list-style: none;
    margin: 0;
    margin-bottom: 1.6rem;
    padding: 0;
    text-align: center;
  }

  ol {
    float: right;
    width: auto;

    li {
      margin-left: 2rem;
    }
  }

  li {
    float: right;
    margin: 1rem 0;
  }

  a {
    color: $black;
    padding: 1rem 0;
    text-decoration: none;

    &:hover {
      background: $light-grey;
      transition: $transition;
    }

    &:active {
      background: $white;
    }
  }
}

@media screen and (max-width: $small-break) {
  nav {
    ul {
      display: inline-block;
      margin-left: -.5rem;
      text-align: center;
      width: 100%;
    }

    ol {
      display: flex;
      float: none;
      justify-content: space-between;

      li {
        margin: 0;
      }
    }

    li {
      float: none;
      margin-left: 1rem;
    }
  }

}
