table {
  border: 0;
  margin-bottom: $md-pad;
}

caption {
  padding: $sm-pad 0;
}

thead th {
  border-bottom: 2px solid $light-dividers;
  text-align: left;
}

tr {
  margin-bottom: $sm-pad;
}

th,
td {
  border-bottom: $light-border;
  padding: $sm-pad $md-pad;
  vertical-align: inherit;
}

tfoot tr {
  text-align: left;
}

tfoot td {
  color: $light-secondary;
  font-size: $sm-pad;
  font-style: italic;
  padding: $md-pad $xs-pad;
}
