body {
  color: $black;
  font-family: $sans-serif-font-family;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
}

blockquote {
  border-left: 2px solid $primary-color;
  font-family: $serif-font-family;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  margin: 1.6rem 0 2rem;
  padding-left: 2.5rem;
}

p {
  margin: 0 0 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  margin: 2rem 0 1.6rem;
}

h1 {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 500;
}

h2 {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
}

h3 {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
}

h4 {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
}

h5 {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
}

h6 {
  color: $grey;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
}

pre {
  background: $light-grey;
  color: $black;
  display: block;
  font-family: $monospace-font-family;
  font-size: 1.4rem;
  margin-bottom: .8remrem;
  padding: 1.6rem;
  word-break: break-all;
  word-wrap: break-word;
}

code {
  background: $light-grey;
  color: $black;
  font-family: $monospace-font-family;
  font-size: 1.4rem;
  word-break: break-all;
  word-wrap: break-word;
}

a {
  color: $primary-color;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul,
ol,
menu,
dir {
  margin-bottom: 1.6rem;
  -webkit-padding-start: 4rem;
}
