//Basic stylings
$br: 4px;
$xs-pad: 4px;
$sm-pad: 8px;
$md-pad: 16px;
$lg-pad: 20px;
$xlg-pad: 40px;
$trans: .3s;

//Breakpoints
$small-breakpoint: 400px;
$large-breakpoint: 768px;

//Colors
$primary: #2196f3;
$accent: #64ffda;
$red: #f44336;
$yellow: #ffeb3b;
$grey: #efefef;
$white: #fff;
$black: #000;

//Text
$text: rgba(0, 0, 0, .8);
$secondary: rgba(0, 0, 0, .54);
$disabled: rgba(0, 0, 0, .38);
$dividers: rgba(0, 0, 0, .12);

//Links
$link-color: $primary;
$link-hover-color: darken($link-color, 15%);

//Font
$sans-serif: 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
$serif: Georgia, Times, 'Times New Roman', serif;
$monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family: $sans-serif;

//Typography
$font-size-base: 16px;
$font-size-large: ceil(($font-size-base * 1.25));
$font-size-small: ceil(($font-size-base * .85));
$font-size-h1: 36px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: $font-size-base;
$font-size-h6: $font-size-small;
$line-height-base: 1.4;

//Other
$border: 1px solid $dividers;
