@charset 'utf-8';

@import 'sanitize.css/sanitize';

/*! Marx v3.0.6 - The classless CSS reset (perfect for Communists) | MIT License | https://github.com/mblode/marx */
@import 'variables';
@import 'base';
@import 'typography';
@import 'form';
@import 'buttons';
@import 'tables';
