<center class="hero">
  <h1>Marx</h1>
  <h3 id="tagline">The classless CSS reset (perfect for Communists).</h3>
  <p>No JavaScript. No Classes. Just raw CSS. <br><small>10.5 kB / 3.0 kB (Gzip) minified.</small></p>

  <div>
    <a href="https://raw.githubusercontent.com/mblode/marx/master/css/marx.min.css" target="_blank" id="download"><button>Download</button></a>
    <a href="https://github.com/mblode/marx" target="_blank" id="github"><button>Github</button></a>
  </div>
</center>
