main,
header,
footer,
article,
section,
aside,
details,
summary {
  margin: 0 auto;
  margin-bottom: var(--md-pad);
  width: 100%;
}

main {
  display: block;
  margin: 0 auto;
  max-width: var(--lg-breakpoint);
  padding: 0 var(--md-pad) var(--md-pad);
}

footer {
  border-top: var(--border);
  padding: var(--md-pad) 0;
  text-align: center;
}

footer p {
  margin-bottom: 0;
}

hr {
  border: 0;
  border-top: var(--border);
  display: block;
  margin-top: var(--md-pad);
  margin-bottom: var(--md-pad);
  width: 100%;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: baseline;
}

@media screen and (max-width: var(--sm-breakpoint)) {
  article,
  section,
  aside {
    clear: both;
    display: block;
    max-width: 100%;
  }

  img {
    margin-right: var(--md-pad);
  }
}

embed,
iframe,
video {
  border: 0;
}

progress {
  background-repeat: repeat;
}
