input[type=submit],
input[type=reset],
input[type=button],
button {
  background-color: var(--primary);
  border: var(--primary);
  border-radius: var(--br);
  color: var(--white);
  padding: var(--sm-pad) var(--md-pad);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
}

input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
button:hover {
  background-color: var(--primary-600);
  border-color: var(--primary-600);
  color: var(--white);
}

input[type=submit]:not(:disabled):active,
input[type=reset]:not(:disabled):active,
input[type=button]:not(:disabled):active,
button:not(:disabled):active {
  background-color: var(--primary-600);
  border-color: var(--primary-600);
  color: var(--white);
}

input[type=submit]:focus,
input[type=reset]:focus,
input[type=button]:focus,
button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(59, 130, 246, 0.5);
}

input[type=submit]:disabled,
input[type=reset]:disabled,
input[type=button]:disabled,
button:disabled {
  opacity: .65;
  cursor: not-allowed;
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);
}
