input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
select,
textarea {
  background: var(--white);
  background-clip: padding-box;
  border: var(--border);
  border-radius: var(--br);
  color: var(--text);
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: var(--sm-pad) var(--md-pad);
  line-height: 1.5;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-family: var(--sans-serif);
  word-break: normal;
}

input[type="color"] {
  background-color: var(--white);
  border: var(--border);
  border-radius: var(--br);
  display: inline-block;
  vertical-align: middle;
}

input:not([type]) {
  -webkit-appearance: none;
  background: var(--white);
  background-clip: padding-box;
  border: var(--border);
  border-radius: var(--br);
  color: var(--text);
  display: block;
  width: 100%;
  padding: var(--sm-pad) var(--md-pad);
  line-height: 1.5;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  text-align: left;
  word-break: normal;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
  background-color: var(--white);
  border-color: var(--primary-400);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(59, 130, 246, 0.5);
}

input:not([type]):focus {
  background-color: var(--white);
  border-color: var(--primary-400);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(59, 130, 246, 0.5);
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 1px thin var(--dividers);
}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="time"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="week"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
select[disabled],
textarea[disabled] {
  background-color: var(--dividers);
  color: var(--secondary);
  cursor: not-allowed;
  opacity: 1;
}

input:not([type])[disabled] {
  background-color: var(--dividers);
  color: var(--secondary);
  cursor: not-allowed;
  opacity: 1;
}

input[readonly],
select[readonly],
textarea[readonly] {
  border-color: var(--dividers);
  color: var(--secondary);
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  border-color: var(--red-600);
  color: var(--red);
}

input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
  outline-color: var(--red);
}

select {
  border: var(--border);
  vertical-align: sub;
}

select:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

select[multiple] {
  height: auto;
}

label {
  display: inline-block;
  line-height: 2;
}

fieldset {
  border: 0;
  margin: 0;
  padding: var(--sm-pad 0);
}

legend {
  border-bottom: var(--border);
  color: var(--text);
  display: block;
  margin-bottom: var(--sm-pad);
  padding: var(--sm-pad 0);
  width: 100%;
}

textarea {
  overflow: auto;
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  display: inline;
}
