//Fonts
$sans-serif-font-family =        'Open Sans', 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif
$serif-font-family =             Georgia, Times, 'Times New Roman', serif
$heading-font-family =           'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif
$monospace-font-family =         Menlo, Monaco, Consolas, 'Courier New', monospace

//Santize.scss
//Root
$root-box-sizing =               border-box
$root-cursor =                   default
$root-font-family =              $sans-serif-font-family
$root-font-size =                1rem
$root-line-height =              1.4
$root-text-rendering =           optimizeLegibility

//Other
$anchor-text-decoration =        none
$form-element-background-color = transparent
$form-element-min-height =       $root-line-height * 1em
$media-element-vertical-align =  middle
$monospace-font-family =         $monospace-font-family
$nav-list-style =                none
$selection-background-color =    #b3d4fc
$selection-text-shadow =         none
$small-font-size =               75%
$big-font-size =                 125%
$table-border-collapse =         collapse
$table-border-spacing =          0
$textarea-resize =               vertical

//Basic stylings
$br =                            0
$xs-pad =                        .4rem
$sm-pad =                        .8rem
$md-pad =                        1.6rem
$lg-pad =                        2rem
$xlg-pad =                       4rem
$transition =                    .25s ease
$border =                        .1rem solid

//Breakpoints
$small-break =                   40rem
$big-break =                     76.8rem

//Colors
$primary-color =                 #1271db
$red =                           #ff4136

//Greyscale
$white =                         #fff
$light-grey =                    #efefef
$silver =                        #ccc
$grey =                          #777
$black =                         #444

//Transparency
$trans-light =                   rgba(0, 0, 0, .2)
$trans-mid =                     rgba(0, 0, 0, .56)
$trans-dark =                    rgba(0, 0, 0, .87)